{% extends 'main/layout.html' %} {% block title %}Update{% endblock title %} {%block body %}
<div class="container">
  <h3 class="alert alert-dark mt-3 text-center">Update data</h3>
  {% if messages %} {% for message in messages%}
  <h1 {% if message.tags %} class="alert-{{message.tags}}" {% endif %}>
    {{message}}
  </h1>

  {% endfor %} {% endif %}
  <form action="{% url 'update' id %}" method="POST">
    {{form}} {% csrf_token %}
    <input type="submit" value="Update" class="btn btn-dark mt-3" />
    <a href="{% url 'showItems' %}" class="btn btn-primary mt-3"
      >Back to show</a
    >
  </form>
</div>

{% endblock body %}
