{% extends 'blog/layout1.html' %} {% load static%} {% block title %} About
{% endblock title %} {% block content %}
<!-- Section -->
<section>
  <header class="major">
    <h2>About us</h2>
  </header>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eligendi perspiciatis necessitatibus unde nemo nulla distinctio pariatur suscipit animi quae. Omnis perspiciatis accusamus, hic dolorum voluptatem labore tempora excepturi laborum ea facilis magnam quas vel, incidunt impedit corporis iure. Soluta veniam magni consequuntur aliquid porro harum minima sunt odit doloremque?</p>

  
</section>

{% endblock content %}
