{% extends 'blog/layout.html' %} {% block title %} Log in {% endblock title %}
{% block content %}
<h1 class="alert alert-success my-2 text-center">Log in to your Account</h1>

<form action="{% url 'logIn' %}" method="POST" novalidate>
  {% csrf_token %} {% for er in form.non_field_errors %}
  <small class="alert-danger">{{er|striptags}}</small>
  {% endfor %} {% for field in form %}
  <div class="form-group">
    {{field.label_tag}} {{field}}
    <small class="alert-danger">{{field.errors|striptags}}</small>
  </div>
  {% endfor %}
  <input type="submit" class="btn btn-success btn-block" value="Log in" />
</form>
<small><a href="{% url 'signIn' %}">Don't have account yet?</a></small>
{% endblock content %}
